@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');
:root{
  --clr-neon: hsl(317 100% 54%);
  --clr-bg: hsl(323 21% 16%);
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Balsamiq Sans', cursive,
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  .array-container {
    display: flex;
    position: relative;
    width: 80%;
    margin: 0 auto;
    background-color: white;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    height: 85vh;

  }
  
  .array-bar {
    flex: 1;
    background-image: linear-gradient(rgb(36, 117, 209), rgb(122, 37, 187));
    background-image: linear-gradient(rgb(231, 229, 96), rgb(55, 215, 101));
    display: inline-block;
    margin: 0 1px;
  
    
  }

  .utility-bar {
    
    width: 80%;
    height: 90px;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    align-items: stretch;
  
    
  }

  .util-btns{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    
    transform: translate(-25px, 0px);
    
    
  }
  .btn{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    align-self: center;
    font-size: 1.05rem;
    font-family: 'Balsamiq Sans', cursive;
    font-weight: bold;
    text-decoration: none;
    /* color: var(--clr-neon);
    border: currentColor 0.2em solid; */
    padding: 0.2em 0.5em;
    border-radius: 0.5em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    position: relative;

    
    /* text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.25em 0 var(--clr-neon), 0 0 0.55em 0 var(--clr-neon); */
  }
  

   
  /* .btn::before{
    pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neon);
  top: 110%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
  } */
  .btn::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.1em rgb(122, 37, 187);
    opacity: 0;
    background-color:rgba(36, 117, 209, 0.778);
    z-index: -1;
    transition: opacity 100ms linear;
  }
  
  /* .btn:hover,
  .btn:focus{
    color: var(--clr-bg);
    text-shadow: none;
  } */
  .btn:hover::before,
  .btn:focus::before{
    opacity: 1;
  }

  .btn:hover::after,
  .btn:focus::after{
    opacity: 1;
  } 

  .title{
    font-size: 30px;  
    align-self: center;
    transform: translate(0,-10%);
    
  }

  .util-sliders{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    
  }
 .anim-speed{
    display: grid;
    place-items: center;
 }
  
  .anim-speed-value{
    display: grid;
    place-items: center;
  }
  .array-size{
    display: grid;
    place-items: center;
  }
  .array-size-value{
    display: grid;
    place-items: center;
  }

  .play-button{
    background: url('../img/playbtnTwo.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    align-self: center;
    position: relative;

  }

  .play-button::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.2em rgb(122, 37, 187);
    opacity: 0;
    background-color:rgb(57, 191, 72);
    z-index: -1;
    transition: opacity 100ms linear;
  }
  .play-button:hover::before,
  .play-button:focus::before{
    opacity: 1;
  }

  .play-button:hover::after,
  .play-button:focus::after{
    opacity: 1;
  } 
  

  